#mission > div >  h1{
    color: rgb(0, 92, 0);
    font-family: serif;
    font-weight: 100;
}#mission >  div > p{
    line-height: 1.5;
    font-size: .9rem;
    color: rgb(100, 83, 62);
}@media(min-width:750px){
    #mission > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }#mission > div > h1, p{
        flex: 1;
    }
}




#chooseUs{
    background: rgb(0, 59, 25); 
    border-bottom: 2px solid white; 
    padding: 2rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
}@media(min-width:750px){
    #chooseUs{
        flex-direction: row;
    }
}


table{
    border-collapse: collapse;
    color: white;
}
th, td{
    border: 1px solid white;
}