/*css styling that applies to all pages*/
body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}*{
    box-sizing: border-box;
    font-family: sans-serif;
}a{
    text-decoration: none;
    color: normal;
}






#getInTouch{
    display: flex;
    flex-direction: column;
}#getInTouch > div > div > div > h2{
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 100;
    color: rgb(67, 131, 67);
    font-family: serif;
}#getInTouch > div > div > div > p{
    color: rgb(82, 68, 49);
    font-size: .9rem;
    line-height: 1.5;
}#getInTouch > div > div > div{
    margin-top: 2rem;
}#getInTouch > div > div > div > i{
    color: green;
}#getInTouch > form{
    padding: 2rem 0 2rem 0;
}#getInTouch > form > input, textarea{
    width: 100%;
    padding: .7rem;
    border: 1px solid rgb(172, 172, 172);
    outline: none;
}#getInTouch > form > label{
    color: rgb(66, 56, 42);
    font-size: .9rem;
}#getInTouch > form > label > span{
    color: red;
}#getInTouch > form > button{
    width: 60%;
    padding: .6rem;
    background-color: transparent;
    color: rgb(0, 54, 0);
    border: 1px solid rgb(0, 54, 0);
}@media(min-width: 750px){
    #getInTouch{
        flex-direction: row;
        gap: 3rem;
    }
    #getInTouch > form{
        width: 50vw;
        height: 100%;
    }
}




footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 59, 25);
    text-align: center;
    color: white;
    padding: 1rem;
}footer > div > div > a > i{
    transform: scale(1.3);
}footer > div > div > a{
    font-size: small;
}@media(min-width: 750px){
    footer > div:first-child{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-around;
        text-align: left;
    }footer > div > div{
        flex: 1;
    }
}



#nav{
    display: none;
    border-top: 2px solid rgb(0, 128, 96);
}#nav > a{
    display: inline-block;
    padding: .6rem;
    color: rgb(0, 70, 46);
}


.fixed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 1000;
    width: 100vw;
    position: fixed;
    background-color: rgb(255, 255, 255);
    margin-left: 0;
    left: -2vw;
    top:0;
}